@charset "UTF-8";

@media screen and ( max-width:750px )
{

/* スマートフォンで見たときは"sp"のclassがついたものが表示される */
.pc { display: none !important; }
.sp { display: block !important; }

body{
  background-color: #000000;
  color: #ffffff;
}

#contents{
  width: 750px;
  margin: 0 auto;
}

header{
  width: 750px;
  display: flex; /*ロゴとulを横に並べる*/
  margin-bottom: 20px;
  border: 1px solid #ff0000;
}

#contact h1{
  font-size: 80px;
}

}